atomicwrites==1.1.5
attrs==18.1.0
Django==2.2.24
funcsigs==1.0.2
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
py==1.5.4
pytest==3.7.1
pytz==2018.5
scandir==1.8
selenium==3.14.0
six==1.11.0
urllib3==1.23
